@use "../utilities/mixin";
@use "../utilities/variables";
@use "../utilities/extend";

.card-container {
    @include mixin.flex(row, space-evenly, center);

    .card {
        padding: variables.$spacing-md;
        border: 1px solid variables.$color-verde-claro;
        border-radius: 12px;
        width: 250px;
        min-height: 280px;   // antes: height: 280px;
        background-color: variables.$color-fondo;

        h4 {
            font-size: 1.2rem;
            color: variables.$color-verde-oscuro;
        }

        p {
            margin: variables.$spacing-sm 0px;
            color: variables.$color-musgo;
        }

        h5 {
            color: variables.$color-verde-oscuro;
            font-weight: 600;
        }

        .btn-producto {
            @extend %button;
        }
    }
}