@use "../utilities/mixin";
@use "../utilities/extend";

.card-container {
    @include mixin.flex(row, space-evenly, center);
    //display: flex;
    //flex-direction: row;
    //justify-content: space-between;
    //align-items: center;

    .card {
        padding: 16px;
        border: 1px solid red;
        border-radius: 8px;
        width: 250px;
        height: 250px;
        h4 {
            font-size: 1,5rem;
        }
        p{
            margin: 8px 0px;
        }
        .btn-producto {
        @extend %button;
    }
    }
}