@use "../utilities/mixin";
@use "../utilities/variables";
@use "../utilities/extend";

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: variables.$spacing-sm;
    width: 100%;

    .producto-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid variables.$color-verde-claro;
        border-radius: 12px;
        background-color: variables.$color-fondo;
        overflow: hidden;

        .foto-producto {
            grid-column: 2;
            grid-row: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .info-producto {
            grid-column: 1;
            grid-row: 1;
            padding: variables.$spacing-sm;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4 {
                color: variables.$color-verde-oscuro;
                font-size: 0.95rem;
            }

            p {
                color: variables.$color-musgo;
                font-size: 0.7rem;
                margin: variables.$spacing-sm 0px;
            }

            h5 {
                color: variables.$color-verde-oscuro;
                font-weight: 600;
                font-size: 0.85rem;
            }

            .btn-producto {
                @extend %button;
                margin-top: variables.$spacing-sm;
                font-size: 0.8rem;
            }
        }
    }
}

main.main-ancho {
    max-width: 100%;
    padding: variables.$spacing-lg;
}