@use "./variables";

%button {
    display: inline-block;
    padding: 12px;
    border-radius: 80px;
    text-decoration: none;
    background-color: variables.$color-mostaza;
    color: variables.$color-verde-oscuro;
}